body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  background-color: #F3A0A0;
}
a, a:hover {  
  text-decoration: none;
    color: black;
}
.container {
  background-color: white;
  width: 75%;
  margin: 5% auto 5% auto;
  border: 1px solid black;
  text-align: center;
  padding: 1%;
  box-shadow: 2px 2px 5px black;
}
h3 {
  font-size: 20px;
}
hr {
width:80%;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 0%;
} 
/* player-card */
.player-card {
  height: 210px;
  width: 175px;
  border: 1px solid black;
  border-radius: 20px;
}
.down {
  margin-top: -4%;
  margin-bottom: -3%;
  transform: rotate(140deg);
}
.arrow-wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}
.arrow-card-img {
  margin: 0 auto;
  justify-self: center;
  height: 70px;
  width: 90px;
  transform: rotate(180deg);
}
.player-card-img {
  height: 165px;
  width: 175px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.player-card-img:hover {
  cursor: pointer;
}
.player-card-desc {
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  width: 100%;
  height: 50px;
  border-top: 1px solid black;
  font-size: 20px;
  padding: 6px;
}
/* on click */
.player-card-video-link, .player-card-video-title {
  display: flex;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
 justify-content: center;
  width: 100%;
}
.player-card-video-link {
  padding-top: 7px;
  height: 50px;
}
.back {
  width: 100%;
  height: 30px;
  border: 0px;
  background-color: transparent;
}
.back:hover {
  cursor: pointer;
  background-color: #efefef;
}
.player-card-video-title {
  height: 60px;
  border-bottom:1px solid black;
}
.player-card-video-link:hover {
  background-color: #efefef;
}
/* credits */
.credits {
  height: 80px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
  hr {
    width: 100%;
  }
}